*.org
*.sav
*.new
*.drjava
*.txt
*.log
*~
*.old
*.new
*.mine
*.alt
codecoverage
drjava/classes
drjava/drjava.jar
drjava/build.xml.*
drjava/coverage_report
scratch
.idea/
*.iml
*.exec

# Compiled class file directories
/classes/
/built/
/edu/

# IDE-specific files
.idea/
*.swp
*.swo
.DS_Store